/* style-guide.md
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)

## Typography

### Body Copy

- Font size: 16px

### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700 */
/*
--- 01 TYPOGRAPHY SYSTEM


--- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITE SPASE
 - SPACING SYSTEM (px)
   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  /*10 / 16 = 0.625 * 100 = 62.5 */
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  font-family: "Overpass", "Ubuntu";
  line-height: 1;
  font-weight: 400;
}
.header {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("..//public/images/bg-pattern-intro-mobile.svg"),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  position: relative;
  border-bottom-left-radius: 10rem;
}
/* navigation */
.navigation {
  padding: 5rem 10rem 70rem 10rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.flexNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoName {
  color: hsl(0, 0%, 100%);
  font-size: 5rem;
  font-style: 700;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-right: 5rem;
}
.navList {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /*  */
  position: relative;
}
.navLink {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 500;
}
/*  */
.navListDropDown {
  margin-top: 10px;
  /*to not show at the start  */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /*  */
  list-style-type: none;
  background-color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  padding: 3rem;

  border: 1px solid hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navListDropDownOpen {
  display: block;
}
.navLinkDropDown {
  color: #666;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 15px;
  /*  */
  display: block;
}
.navLinkDropDown:hover {
  color: #222 !important;
}
/* cta */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.loginLink:link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.8rem;
}
.signUp {
  padding: 1.3rem 3.3rem;
  border-radius: 4rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  transition: all 0.3s;
}
.signUpLink {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(356, 100%, 66%);
  text-decoration: none;
  transition: color 0.3s;
}
.signUp:hover {
  background-color: hsl(355, 100%, 74%);
}
.signUp:hover .signUpLink {
  color: hsl(0, 0%, 100%);
}
/* header */
.mainHeadingBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainHeading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mainTittle {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 100%);
}
.mainParagraph {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 5rem;
}
.mainBoxButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: 1.3rem 3.3rem;
  border-radius: 4rem;
  border: none;
}
.primaryLink {
  color: hsl(356, 100%, 66%);
  text-decoration: none;
}
.btnSecondary {
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem hsl(0, 0%, 100%);
}
.secondaryLink {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
/* main part 01 */
.container {
  max-width: 144rem;
  padding: 10rem 0;
}
.headingSecondary {
  font-size: 3.6rem;
  line-height: 1.3;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
  color: hsl(208, 49%, 24%);
  display: flex;
  justify-content: center;
}
.layoutContainer {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr 1.5fr;
}
.paragrapxBoxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 0 20rem 15rem;
}
.headingQuarternary {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 1rem;
  color: hsl(208, 49%, 24%);
}
.paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
  color: hsl(207, 13%, 34%);
}
.illustrationImageBox {
  position: relative;
  /* overflow: hidden; */
  max-width: 100%;
}

.illustrationImage {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  right: -15rem;
  top: -5rem;
}
/* 

/*
--- 01 TYPOGRAPHY SYSTEM


--- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITE SPASE
 - SPACING SYSTEM (px)
   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
